#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height:100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ProductContainer{
  width: 100%;
  margin: auto;
  background-color: #0d94bd;
  margin-top: 100px;
  border-radius: 16px;
  padding-block: 20px;
  padding-inline: 50px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
 
}
.product {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  gap:25px;

}
  img{
      max-width: 200px !important;  
  }

  .name {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 18px;
    background-color:#278be9;
  }
  .price {
    font-size: 19px;
    color:black; 
  }
  .see{
    color:rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.767);
  }
